{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="container mt-5">
        <h1>Inscription</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">S'incrire</button>

        {{ form_end(form) }}    
</div>
{% endblock %}
