{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        
        {% for category in categories %}
            <div class="col-md-6 mt-4">
                <div class="card">
                    <div class="card-header">
                        {{category.name}}
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"> {{category.products|length}} Produits</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="{{path('show_category', {id: category.id})}}" class="btn btn-primary">Voir les produits</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
